:root {
    --navbar-height: 3.5rem;
    --navbar-color: rgb(21, 65, 81);
    --global-padding: 1.5rem;
    --simple-border: 1px solid #bbb;
    --simple-border-radius: 1rem;
    --dark-white: #f1f1f1;
}